@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@400;500;600;700;800;900&display=swap');

/*  공통서식 */
html{scroll-behavior:smooth;}
/* 1. 글자모양, 크기, 색상 */
body{
  font-family:'Noto Serif Korean', 'Noto Sans KR', sans-serif;
  color: #363636;
  overflow-x:hidden;
}


/* 2. 링크 글자모양, 색 */
a{
  font-family:'Noto Sans KR', arial, sans-serif;
  text-decoration:none; /* 밑줄 없음 */
}

input{
  outline: none;
}


/* 3. 서브페이지에 들어갈 공통 UI구성요소의 서식 */
.no_title{
  display:none;
}

/* 버튼, input, nav .... */
