@charset "utf-8";

header{
  width: 100%;height: 60px;
  }
header > h1{text-align: center;}
h1 img{
  width: 90px; height: 50px;
  }
#close{display: none} 
.c_btn{
  font-size: 30px;
  padding: 12px;
  float: right;
  margin-right: 3%;
  }
  .c_btn > a{color: #363535;}
h2{
  padding-top: 20%;
  font-size: 20px;
  text-align: center;
}
main{
  text-align: center;
  line-height: 60px;
  }

#id, #pw{
  width: 330px; height: 54px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #d3dae6;
}
#check{
  
  margin-left: -50%;
}
label{
  font-size: 12px;
}
.login_btn, .b_login_btn{
  padding: 0.5%;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  border-radius:50px;
  font-weight: bold;
  border:3px solid #ff824c;
  color:#363535;
  width: 40%;
  display: inline-block;
  
}
.login_btn{
  background: #ff824c;
  color: #fff;
}
.b_login_btn{
background: #fff;
}

.find_pw, .find_id, .join{
  color: #363535;
  text-decoration: none;
}
.n_logo{width: 50px; height: 50px;}
.k_logo{width: 48px; height: 48px;}
.g_logo{width: 44px; height: 44px;}

.n_logo, .k_logo, .g_logo{padding: 1%;}
