@charset "UTF-8";

@media screen and (max-width:767px) {
  /* 헤더 서식 */
  .h_top{width:100%;height:70px;}
  .h_top > .lnb{width:100%;top:28px;}
  .h_top > .lnb a{display:block;text-align:center;}
  .h_top > h1{width:80px;}
  .h_top > h1 img{width:100%;}
  .lnb > li{width:70px;}
  .lnb > li:first-child{display:block;}
  .lnb > li:first-child a{font-size:1.4rem;transform:translateY(-5px);}
  .lnb > li:last-child{display:none;}
  .sub_back{display:none;}

  /* 메인 내비게이션 */
  .nav_wrap{display:none;}

  /* 메인 서식 */
  div > article > h2{font-size:1.5rem;}

  main{padding-top:70px;}
  .m_banner02 > article, .m_banner03, .m_banner03 > article, .con02_map, .h_top, .h_bottom > ul, .m_banner04 > .tema, .m_banner05 > .notice, .f_inner{width:100% !important;}

  /* 첫번째 레이아웃 서식 */
  .m_banner01{top:69px;height:500px;background-position-y:30px;}
  .m_banner01 > p{font-size:1.7rem;}
  .txt_point{font-size:2.8rem;}
  .m_banner01 > img:first-child{width:400px;}
  .small_txt{font-size:1.5rem;}
  .search_box{width:300px; height:36px;top:62%;}
  .search_box > input[type=text]{width:82%;font-size:0.8rem;}
  .search_box > input[type=image]{width:28px; height:28px;}
  .word{width:472px;height:36px;bottom:22% !important;}
  .word_inner > ul > li a{font-size:0.8rem;}
  .word_inner > ul > li{width:70px;padding:6px 20px 8px;}
  @media screen and (max-width:700px){
    .m_banner01{background-size:160%;}
    .m_banner01 > p{top:35%;line-height:80px;}
    .m_banner01 > img:first-child{width:330px;top:25%;}
    .small_txt{font-size:1.3rem;line-height:70px;}
    .search_box{width:250px;top:56%;}
    .word{bottom:26% !important;}
  }
  @media screen and (max-width:615px){
    .m_banner01 > p{font-size:1.5rem;}
    .txt_point{font-size:2.4rem;}
    .m_banner01 > img:first-child{width:300px;}
    .search_box{width:40%;top:58%;}
    .search_box > input[type=image]{position:absolute;right:5%;}
    .word{width:355px;}
  }
  @media screen and (max-width:570px){
    .m_banner01{background-size:180%;}
  }
  @media screen and (max-width:535px){
    .m_banner01{background-size:190%;}
    .m_banner01 > p{width:100%;}
    .m_banner01 > img:first-child{width:274px;}
  }
  @media screen and (max-width:480px){
    .m_banner01{background-size:210%;background-position-X:-150px;}
  }
  @media screen and (max-width:440px){
    .m_banner01{background-size:220%;}
  }
  @media screen and (max-width:415px){
    .m_banner01{background-size:230%;}
  }
  @media screen and (max-width:395px){
    .m_banner01{background-size:250%;}
    .word{width:235px;}
  }
  @media screen and (max-width:365px){
    .m_banner01{background-size:260%;}
  }

  /* 두번째 레이아웃 서식 */
  .m_banner02{height:730px;margin-top:499px;}
  .m_banner02 > article{padding-top:30px;}
  .m_banner02 > article > h2{padding-left:10px;}
  .m_banner02 > article > p{font-size:1.1rem;padding-left:10px;}
  .m_banner02 > article > p > i{font-size:1.2rem;}
  .con02_map{width:100%;height:570px;justify-content:space-between;}
  .con02_map > .m01{width:400px;}
  .con02_map > .m02{width:300px;transform:translateY(30px);margin-right:6%;}
  .con02_map > .m02 img{width:100%;}
  .m01 > dl{height:450px;}
  .m01 > dl > dt{padding:13px 0px;font-size:1rem;}
  .m01 > dl > dt > a > i.fa{bottom:7px;border-radius:50%;background:#ff5207;color:#fff;}
  .m01 > dl > dd{width:180px; height:210px;}
  .m02 > label{font-size:12px;}
  .festa_info{width:180px;}
  .festa_info > p:first-child{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:16px;}
  .festa_info > p:last-child{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}

  /* 지도 서식 */
  .m02{transform:translateX(-10px);}
  .m02 > label{transform:translateX(41px);}

  /* 지도 버튼 서식 */
  .btn01{left:40px;top:58px;width:29px;height:29px;line-height:32px;}
  .btn02{left:-10px;top:38px;width:54px;height:46px;}
  .btn03{left:5px;top:34px;width:95px;height:111px;line-height:140px;}
  .btn04{left:78px;top:11px;width:113px;height:125px;line-height:148px;}
  .btn05{left:-12px;top:137px;width:92px;height:90px;line-height:90px;}
  .btn06{left:62px;top:121px;width:80px;height:108px;line-height:50px;}
  .btn07{left:46px;top:161px;width:36px;height:29px;}
  .btn08{left:55px;top:180px;width:30px;height:27px;line-height:27px;}
  .btn09{left:99px;top:130px;width:110px;height:120px;line-height:110px;}
  .btn10{left:80px;top:234px;width:108px;height:72px;line-height:70px;}
  .btn11{left:125px;top:214px;width:40px;height:30px;line-height:38px;}
  .btn12{left:178px;top:239px;width:34px;height:27px;line-height:24px;}
  .btn13{left:162px;top:255px;width:80px;height:46px;line-height:46px;}
  .btn14{left:-10px;top:270px;width:105px;height:80px;line-height:87px;}
  .btn15{left:10px;top:216px;width:90px;height:66px;line-height:66px;}
  .btn16{left:18px;top:286px;}
  .btn17{left:-10px;top:370px;width:62px;height:32px;line-height:32px;}
  .btn18{left:178px;top:78px;width:38px;height:40px;}
  .btn19{left:215px;top:115px;width:32px;height:30px;}

  @media screen and (max-width:762px){
    .con02_map > .m02{margin-right:2%;}
  }
  @media screen and (max-width:732px){
    .con02_map > .m02{margin-right:0px;}
  }
  @media screen and (max-width:717px){
    .m_banner02{height:820px;}
    .con02_map{flex-direction:column;justify-content:center;}
    .con02_map > li{width:100%;margin:0px auto;}
    .con02_map > .m01{order:2;width:500px;height:600px;transform:translateY(30px);}
    .m01 > dl{width:100%; height:556px;}
    .m01 > dl > dt{bottom:-20px;}
    .m01 > dl > dd{width:230px; height:238px;}
    .m01 > dl:nth-of-type(6) > dt, .m01 > dl:nth-of-type(7) > dt, .m01 > dl:nth-of-type(8) > dt, .m01 > dl:nth-last-of-type(6) > dt{transform:translate(-50%, -258px);}
    .festa_info{width:230px;}
    
    .con02_map > .m02 > img{display:none;}
    .con02_map > .m02{
      order:1;
      display:flex;flex-wrap:wrap;
      justify-content:center;
      transform:translateY(40px);
      margin:0px auto;width:90%;
    }
    .m02 > label{
      position:relative;
      transform:translate(0px,0px);
      font-size:0.9rem;
      border-radius:20px;
      border:1px solid #ff5207;
      margin:2px; padding:0px 2px;
    }
    .m_act{background:#ff5207;color:#fff;}
    .btn01, .btn02, .btn03, .btn04,.btn05,.btn06,.btn07,.btn08,.btn09,.btn10,.btn11,.btn12,.btn13,.btn14,.btn15,.btn16,.btn17,.btn18,.btn19{line-height:30px;top:0px;left:0px;width:50px;height:30px;}
  }

  @media screen and (max-width:676px){
    .con02_map > .m02{width:500px;}
    .m02 > label{font-size:0.8rem;}
    .m01 > dl{padding-top:10px;}
    .m01 > dl > dt{bottom:-10px;}
  }
  @media screen and (max-width:624px){
    .m_banner02{height:800px;}
    .m_banner02 > article > p{line-height:30px;width:96%;text-align:left;padding-top:0px;}
    .m_banner02 > article > p > br:first-child{display:block;}
    .con02_map{transform:translateY(-50px);}
    .con02_map > .m01{width:450px;height:480px;}
    .m01 > dl{width:450px;height:100%;}
    .m01 > dl > dt{bottom:-44px;}
    .m01 > dl > dd{width:200px;height:218px;}
    .m01 > dl:nth-of-type(6) > dt, .m01 > dl:nth-of-type(7) > dt, .m01 > dl:nth-of-type(8) > dt, .m01 > dl:nth-last-of-type(6) > dt{transform:translate(-50%, -210px);}
    .festa_info{width:200px;}
  }
  @media screen and (max-width:550px){
    .con02_map > .m02{width:100%;}
  }
  @media screen and (max-width:485px){
    .con02_map > .m01{width:400px;height:460px;}
    .m01 > dl{width:100%;height:100%;}
    .m01 > dl > dd{width:180px; height:210px;}
    .festa_info{width:180px;}
  }
  @media screen and (max-width:446px){
    .m02 > label{margin:1px; padding:0px;}
    .m01 > dl > dt{padding:10px 0px;font-size:0.9rem;}
    .m01 > dl > dt > a > i.fa{bottom:5px;padding:4px;}
  }
  @media screen and (max-width:430px){
    .m_banner02{height:710px;}
    .con02_map{transform:translateY(-70px);}
    .con02_map > .m01{width:360px;}
    .m01 > dl > dt{bottom:0px;}
    .m01 > dl > dt > a > i.fa{bottom:5px;right:8px;padding:4px;}
    .m01 > dl > dd{width:150px; height:180px;}
    .festa_info{width:150px;}
    .btn01, .btn02, .btn03, .btn04,.btn05,.btn06,.btn07,.btn08,.btn09,.btn10,.btn11,.btn12,.btn13,.btn14,.btn15,.btn16,.btn17,.btn18,.btn19{line-height:20px;width:48px;height:20px;}
  }
  @media screen and (max-width:407px){
    .m_banner02{height:760px;}
    .m_banner02 > article > p{font-size:0.9rem;text-align:center;padding-top:10px;}
    .m_banner02 > article > p > br:nth-child(2){display:block;}
    .con02_map{transform:translateY(-60px);}
  }
  @media screen and (max-width:390px){
    .con02_map > .m01{width:328px;}
    .m01 > dl > dd{padding:10px 2px;}
  }

  /* 세번째 레이아웃 서식 */
  .m_banner03{height:400px;}
  .m_banner03 > article{padding-top:40px;}
  .m_banner03 > article > h2{padding-bottom:60px;padding-left:10px;}
  .m_banner03 > article p{font-size:1.1rem;padding-top:50px;}
  .m_banner03 > article > div{width:47%;height:178px;}
  .with_food > a > img{width:160px;padding:10px 4px;}
  .with_place > a > img{width:114px;padding:10px 20px 0px;}
  @media screen and (max-width:690px){
    .m_banner03{height:540px;}
    .m_banner03 > article > h2{padding-bottom:40px;}
    .m_banner03 > article > div{margin:20px auto;width:372px;height:180px;}
    .with_food, .with_place{float:none;}
    .with_food > a > img{width:180px;padding:4px 20px 0px 0px;}
    .with_place > a > img{width:130px;padding:4px 35px;}
  }
  @media screen and (max-width:445px){
    .m_banner03 > article > div{width:94%;margin:0px auto; margin-top:20px;}
  }
  @media screen and (max-width:390px){
    .m_banner03{height:520px;}
    .m_banner03 > article > div{height:160px;}
    .m_banner03 > article p{padding-top:40px;}
    .with_food > a > img{width:160px;padding:4px;}
    .with_place > a > img{width:114px;padding:5px 26px;}
  }

  /* 네번째 레이아웃 서식 */
  .m_banner04{height:530px;}
  .tema > h2{top:40px;padding-left:10px;}
  .tema > p{font-size:1.1rem;top:100px;padding-left:10px;}
  .tema_inner{
    width:92%;
    padding:20px 10px;
    margin:0px auto;
    transform:translateY(150px);
  }
  .tema_inner > .tema_friend img{transform:translateX(-80px);}
  .tema_inner > .tema_sports img{transform:translateX(-70px);}
  .tema_inner > div{width:24%;}
  .tema_inner > div > a{width:100%;height:220px;transition:none;}
  .tema_info{background:rgba(0,0,0,.4);transition:none;width:100%;}
  .tema_info > h3{
    text-overflow:initial;
    overflow:visible;
    white-space:wrap;
    font-size:1.1rem;
    line-height:30px;
    left:3px;
  }
  .tema_info > p{font-size:0.8rem;left:3px;}
  @media screen and (max-width:745px){
    .m_banner04{height:660px;}
    .tema_inner{flex-wrap:wrap;}
    .tema_inner > div{width:48%;height:200px;margin-bottom:10px;}
    .tema_inner > div img{width:100%;height:auto;}
    .tema_inner > .tema_friend img{transform:translateX(0px);}
    .tema_inner > .tema_sports img{transform:translateX(0px);}
    .tema_info{bottom:20px;}
    .tema_info > h3, .tema_info > p{left:15px;}
  }
  @media screen and (max-width:654px){
    .tema_inner > div{height:180px;}
    .tema_info{bottom:25px;}
  }
  @media screen and (max-width:594px){
    .tema_inner > .tema_friend img{transform:translateX(-30px);}
    .tema_inner > .tema_sports img{transform:translateX(-30px);}
    .tema_inner > div img{width:auto;height:100%;}
  }
  @media screen and (max-width:511px){
    .tema > p{line-height:30px;}
    .tema > p > br{display:block;}
    .tema_inner{transform:translateY(180px);}
  }
  @media screen and (max-width:478px){
    .tema_info > h3, .tema_info > p{left:8px;}
  }
  @media screen and (max-width:454px){
    .m_banner04{height:870px;}
    .tema_inner{width:85%;}
    .tema_inner > div{width:88%;height:150px;}
    .tema_inner > div img{width:100%;height:auto;transform:translateY(-30px);}
    .tema_inner > .tema_friend img, .tema_inner > .tema_sports img{transform:translate(0px, -30px);}
    .tema_info{bottom:50px;}
  }
  @media screen and (max-width:380px){
    .tema_inner > div{height:130px;}
    .tema_info{bottom:70px;}
  }

  /* 다섯번째 레이아웃 서식 */
  .m_banner05{height:330px;}
  .notice_list > a{font-size:1.4rem;}
  .notice_list > a > i.fa{transform:translateY(12px);}
  .notice_list > ul > li > a{
    font-size:0.9rem;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }
  @media screen and (max-width:690px) {
    .m_banner05{height:600px;}
    .notice{flex-direction:column;}
    .notice > div{margin:0px auto;}
    .event_list{order:2;width:313px;margin:0px auto;}
    .notice_list{order:1;width:80%;height:280px;padding:0px;}
  }

  /* top버튼 서식 */
  .top_btn_box{right:30px;}
  
  /* 푸터 서식 */
  .f_inner{height:100%;justify-content:left;}
  .f_inner > h2{width:20%;}
  .f_inner > h2 img{width:64%;padding-left:15%;}
  .f_inner > div:first-of-type{width:60%;}
  .f_inner > .sns_btn{width:20%;}
  .f_inner nav > ul{width:100%;font-size:0.8rem;}
  .f_inner nav > ul > li{padding-right:10%;}
  .c_info{width:100%;}
  .c_info > ul{
    width:100%;font-size:0.8rem;
    grid-template-columns:repeat(3, 33%);
    grid-template-rows:repeat(3, auto);
    grid-row-gap:10%;
  }
  .sns_btn > ul{
    width:100%;
    display:flex;
    justify-content:space-between;
  }
  .sns_btn > ul > li{width:30%;padding-right:5%;}
  .sns_btn > ul > li img{width:100%;}

  @media screen and (max-width:635px) {
    footer{height:200px;}
    .f_inner > h2{width:122px;}
    .f_inner > div:first-of-type{width:calc(100% - 122px);}
    .f_inner > .sns_btn{width:150px;position:absolute;bottom:20px;left:50%;transform:translateX(-50%);}
    .f_inner{position:relative;}
  }
  @media screen and (max-width:492px) {
    footer{height:270px;}
    .f_inner{flex-direction:column;justify-content:space-around;}
    .f_inner > h2{width:90px;padding-top:10px;}
    .f_inner > h2 img{width:100%;padding-left:0px;}
    .f_inner > div:first-of-type{width:90%;text-align:center;}
    .f_inner > div:first-of-type > nav > ul{margin:10px 0px 20px;justify-content:space-around;}
    .f_inner > div:first-of-type > nav > ul > li{width:33%;padding-right:0px;}
    .f_inner > h2, .f_inner > div:first-of-type, .f_inner > .sns_btn{margin:0px auto;}
    .f_inner > .sns_btn{position:relative;bottom:0px;left:0px;transform:translateX(0px);}
  }

}