@charset "utf-8";

/* 메인 서식*/
main{
  width: 100%;
  padding-top: 150px;
}
.slide{
  width:100%; height:550px;
  margin-top: 5px;
  
}
.gener_line{
  width: 100%; height: 341px;
  background: #ffd9d9;
  margin-top: 10px;
}
.back_line{
  width: 100%; height: 341px;
  background: #ffd9d9;
  

}
main .back_g{
  width: 1000px; height:341px;
  margin: 0px auto;
}
.page_loca{
  width: 1000px;
  margin:0 auto;
  font-size: 16px;
  color: #8c8c8c;

}
/* 지역명 스크롤 레이아웃 서식 */
.back_g > div{
  width: 1600px;
}

main ul li{
  width: 60px; height: 40px;
  border: 1px solid #f5f695;
  background: #f5f695;
  border-radius: 20px;
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  margin-left: 26px;
}
.back_g li > a{
  padding:4px 10px;
  color: #363535;}

  main ul li:hover{
    background: #FF5207;
  }
  
  .back_g li > a:hover{
    color: #fff;
  }
  
  main ul li:first-child{
    margin: 0px;
  }
.back_g ul{padding-top: 40px;}


/* 가로스크롤 축제미리보기 창*/
.pre_v{
  width: 1700px;
  
}
.pre_v > div{
  width: 210px; height: 320px;
  display: inline-block;
  justify-content: space-between;
  font-size: 14px;
  margin-left: 60px;
  box-sizing: border-box;
  border-bottom-left-radius: 500px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  box-shadow: 0 0 20px #ccc;
}

.pre_v > div:first-child{
  margin: 0px;
}
.pre_v > div img{
  height: 320px;
}


.pre_v .text{
  width: 210px; height: 100px;  
  color: #363535;
  background: #fff;
  box-sizing: border-box;
  position: absolute;
  margin-top: -100px;
  text-align: center;
}

.text h3{
  font-size: 18px;
  padding: 10px 0px 10px 0px;
}
.text p{
  font-size: 14px;
  padding: 4px 0px 4px 0px;

}
/* page box 영역 */
.page_box{
  width: 1000px;
  margin: 0 auto;
  padding: 140px 10px 0px 90px;
}
.page_box > img{
  
  padding-right: 20px;
}

/* 메인 콘텐츠 영역 */
.main_c{
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0px;
  box-sizing: border-box;
}

.button{
  width: 1000px;
  margin: 40px 81px 40px 81px;
  box-sizing: border-box;
}
.button > select{
  width: 300px;height: 40px;
  border-radius: 5px;
  margin-right: 40px;
  
}
.button > .prior{
  width: 70px;height:40px;
  border-radius: 5px;
  background: #d1dcec;
  border: 1px solid #d1dcec;
  color: #05429C;
  font-family: 'noto sans kr';
  font-weight: 500;
  font-size: 16px;
  margin-right: 16px;
  

}
.button > .ing{
  width: 70px;height:40px;
  border-radius: 5px;
  background: #f0cfcf;
  border: 1px solid #f0cfcf;
  color: #FA5A5A;
  font-family: 'noto sans kr';
  font-weight: 500;
  font-size: 16px;
}

/* 메인 콘텐츠 행사 항목 */
.main_c_list{
  width: 1000px;
  margin: 0 auto;
}

.main_c_list > div{
  display: inline-block;
  margin: 0px 21px 40px 21px;
}

.main_c_list > div:first-child{
  margin-left: 81px;
}

.main_c_list > div:nth-child(4){
  margin-left: 81px;
}

.main_c_list a h3{
  margin-top: 16px;
  font-size: 18px;
  color:#363535;

}
.main_c_list a p{
  margin: 10px 0px 9px 0px;
  font-size: 14px;
  color:#363535;
}

.more_v_b{
  width: 80px;height: 40px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ffd9d9;
  border-radius: 20px;
  background:#ffd9d9;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  justify-content: center;
}
/* 더보기 버튼 서식 */
.more_v_b a{
  color: #363535;
}