@charset "utf-8";

/* 메인 서식 */
main{
  width: 100%;
  padding-top: 150px;
}

.slide{
  width:100%;
  margin-top: 10px;
}

main .back_g{
  width: 1000px;
  margin: 0px auto;
}

.page_loca{
  width:1000px;
  margin: 0 auto;
  font-size: 16px;
  color: #8c8c8c;
}
.main_content{
  width: 1000px;
  margin: 0 auto;
}
.content_box{
  width: 840px;
  margin: 0 auto;
}

.main_content > div > h2{
  font-size: 32px;
  margin:18px 0px 8px 0px;
}

.content_box select{
  float: right;
  width: 153px;
  height: 32px;
  margin: 30px 23px 63px 0px;
  text-align: center;
  border-radius: 5px;

}
.control_box02{
  margin-right: 80px;
}
.content_box h3{
  display: inline-flex;
  margin: 30px 400px 63px 0px;
  font-size: 32px;
}
.main_conlist01{
  width: 1000px;
  margin: 0 auto;
  padding-left:60px;
}
.main_conlist01 > div{
  display: inline-block;
  margin:0px 58px 36px 0px ;
  position: relative;
}
.main_conlist01 > div > label, .map_btn {
  position: absolute;
  bottom: 30px;
} 

.main_conlist01 >div>  label{
  right: 46px;

}
.main_conlist01 > div > .map_btn{
  right:0px;
  
}

.main_conlist01 >div h3, p{
  color: #363535;
}

.main_conlist01 >div h3{
  padding-top: 16px;
  font-size: 18px;
}

.main_conlist01 >div p{
  padding: 6px 0px 6px 0px;
}


.favariate01, .favariate02, .favariate03,.favariate04,.favariate05,.favariate06,.favariate07,.favariate08,.favariate09,.favariate10,.favariate11,.favariate12{
  display: inline-block;
  width: 30px;
  height: 27px;
  background-image: url(../images/date/heartoff_icon.png);
  text-indent: -9999px;
}

#toggle01, #toggle02, #toggle03, #toggle04,#toggle05,#toggle06,#toggle07,#toggle08,#toggle09,#toggle10,#toggle11,#toggle12{display: none;}

#toggle01:checked+label, #toggle02:checked+label, #toggle03:checked+label, #toggle04:checked+label,#toggle05:checked+label,#toggle06:checked+label,#toggle07:checked+label,#toggle08:checked+label,#toggle09:checked+label,#toggle10:checked+label,#toggle11:checked+label,#toggle12:checked+label{
  background-image:url(../images/date/heart_icon.png);
}

.fastival_list h2{
  display: inline;
  margin-left: 80px;
}
.fastival_list select{
  margin-right: 80px;
  float: right;
  width: 153px; height: 32px;
  border-radius: 5px;
}
.con_list > div{
  width: 840px; height: 160px;
  margin: 0 auto;
  background: #003cff;
  margin-top: 60px;
}
.more_v_b{
  width: 80px;height: 40px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ffd9d9;
  border-radius: 20px;
  background:#ffd9d9;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-bottom: 50px;
}
.more_v_b a{
  color: #363535;
}