@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1024px){

  /* 헤더 서식 */
  .h_top{width:100%;height:80px;}
  .h_top > .lnb{right:40px;top:35px;}

  /* 메인 내비게이션 */
  .nav_wrap{overflow:visible;}
  .nav_wrap:hover{height:56px;background:none;overflow:visible;}
  .gnb > li:first-child{display:block;}
  .gnb > li > a{padding:10px;font-size:16px;}
  .gnb > li:hover > a{border-bottom:none;}
  .sub{display:none;}
  .sub > li > a:hover{color:#fff;}
  .h_bottom > .gnb{width:100%;height:55px;justify-content:center;}
  .h_bottom > .gnb > li:first-child{width:80px;}
  .h_bottom > .gnb > li{width:160px;}
  .h_bottom{width:100%;}

  /* 메인 서식 */
  div > article > h2{font-size:32px;}

  main{padding-top:135px;}
  .m_banner02 > article, .m_banner03, .m_banner03 > article, .con02_map, .h_top, .h_bottom > ul, .m_banner04 > .tema, .m_banner05 > .notice, .f_inner{width:100% !important;}

  /* 첫번째 레이아웃 서식 */
  .m_banner01{top:135px;height:600px;background-position-y:30px;}
  .m_banner01 > p{
    font-weight:bold;
    font-size:30px;
  }
  .txt_point{font-size:45px;}
  .m_banner01 > img:first-child{width:400px;}
  .small_txt{font-size:23px;}
  .search_box{width:300px; height:36px;}
  .search_box > input[type=image]{width:28px; height:28px;}
  .word{width:505px;height:36px;}
  .word_inner > ul > li a{font-size:14px;}
  .word_inner > ul > li{width:75px;}

  @media screen and (max-width:910px){
    .m_banner01{height:500px;}
    .search_box{top:62%;}
    .word{bottom:22% !important;}
  }

  /* 두번째 레이아웃 서식 */
  .m_banner02{margin-top:600px;height:820px;}
  .m_banner02 > article > h2, .m_banner02 > article > p{padding-left:30px;}
  .m_banner02 > article > p{font-size:18px;}
  .m_banner02 > article > p > i{font-size:23px;}
  .con02_map{padding:0px 30px;}
  .con02_map > .m01{width:50%;}
  .con02_map > .m02{width:48%;}
  .m01 > dl{height:510px;}
  .m01 > dl > dt{padding:13px 0px;font-size:18px;}
  .m01 > dl > dt > a > i.fa{bottom:7px;border-radius:50%;background:#ff5207;color:#fff;}
  .m01 > dl > dd{width:230px; height:238px;}
  .festa_info{width:230px;}
  .festa_info > p:last-child{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

  @media screen and (max-width:1020px) {
    .m_banner02{height:780px;}
    .con02_map{width:100%;height:570px;justify-content:space-between;}
    .con02_map > .m01{width:440px;}
    .con02_map > .m02{width:300px;transform:translateY(30px);margin-right:10%;}
    .con02_map > .m02 img{width:100%;}
    .m01 > dl{height:480px;}
    .m01 > dl > dt{font-size:16px;bottom:-65px;}
    .m01 > dl > dd{width:200px; height:218px;}
    .m02 > label{font-size:12px;}
    .festa_info{width:200px;}
    .festa_info > p:first-child{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:16px;}
    .festa_info > p:last-child{font-size:14px;}

    /* 지도 버튼 서식 */
    .btn01{left:40px;top:58px;width:29px;height:29px;line-height:32px;}
    .btn02{left:-10px;top:38px;width:54px;height:46px;}
    .btn03{left:5px;top:34px;width:95px;height:111px;line-height:140px;}
    .btn04{left:78px;top:11px;width:113px;height:125px;line-height:148px;}
    .btn05{left:-12px;top:137px;width:92px;height:90px;line-height:90px;}
    .btn06{left:62px;top:121px;width:80px;height:108px;line-height:50px;}
    .btn07{left:46px;top:161px;width:36px;height:29px;}
    .btn08{left:55px;top:180px;width:30px;height:27px;line-height:27px;}
    .btn09{left:99px;top:130px;width:110px;height:120px;line-height:110px;}
    .btn10{left:80px;top:234px;width:108px;height:72px;line-height:70px;}
    .btn11{left:125px;top:214px;width:40px;height:30px;line-height:38px;}
    .btn12{left:178px;top:239px;width:34px;height:27px;line-height:24px;}
    .btn13{left:162px;top:255px;width:80px;height:46px;line-height:46px;}
    .btn14{left:-10px;top:270px;width:105px;height:80px;line-height:87px;}
    .btn15{left:10px;top:216px;width:90px;height:66px;line-height:66px;}
    .btn16{left:18px;top:286px;}
    .btn17{left:-10px;top:370px;width:62px;height:32px;line-height:32px;}
    .btn18{left:178px;top:78px;width:38px;height:40px;}
    .btn19{left:215px;top:115px;width:32px;height:30px;}
  }
  @media screen and (max-width:910px) {
    .m_banner02{margin-top:500px;}
  }
  @media screen and (max-width:890px) {
    .m_banner02{height:750px;}
    .con02_map > .m02{margin-right:6%;}
    .m01 > dl{height:466px;}
  }
  @media screen and (max-width:830px) {
    .con02_map > .m01{width:400px;}
    .m01 > dl{height:446px;}
    .m01 > dl > dd{width:180px; height:210px;}
    .festa_info{width:180px;}
  }
  
  /* 지도 서식 */
  .m02{transform:translateX(-10px);}
  .m02 > label{transform:translateX(41px);}

  /* 세번째 레이아웃 서식 */
  .m_banner03{height:460px;}
  .m_banner03 > article{padding-top:70px;}
  .m_banner03 > article > h2{padding-left:30px;}
  .m_banner03 > article p{font-size:22px;}
  .m_banner03 > article > div{width:44%;}
  .with_food {margin-left:30px;}
  .with_food > a > img{width:200px;padding:0px;}
  .with_place > a > img{width:150px;padding:0px 20px;}
  .with_place{margin-right:30px;}
  @media screen and (max-width:905px) {
    .m_banner03 > article > div{width:45%;}
    .m_banner03 > article p{font-size:20px;}
  }
  @media screen and (max-width:855px) {
    .m_banner03 > article p{font-size:18px;}
    .with_food > a > img{width:180px;padding:14px 4px 0px 0px;}
    .with_place > a > img{width:130px;padding-top:10px;}
  }

  /* 네번째 레이아웃 서식 */
  .m_banner04{height:620px;}
  .tema > h2, .tema > p{padding-left:30px;}
  .tema > p{font-size:18px;}
  .tema_inner{
    width:calc(100% - 80px);
    padding:30px 10px;
    margin:0px auto;
  }
  .tema_inner > .tema_friend img{transform:translateX(-80px);}
  .tema_inner > .tema_sports img{transform:translateX(-70px);}
  .tema_inner > div > a{transition:none;}
  .tema_info{background:rgba(0,0,0,.4);transition:none;}
  .tema_info > h3{
    text-overflow:initial;
    overflow:visible;
    white-space:wrap;
    font-size:22px;
    line-height:30px;
  }
  .tema_info > p{font-size:14px;}

  @media screen and (max-width:930px) {
    .m_banner04{height:560px;}
    .tema_inner > div > a{width:180px;height:250px;}
    .tema_inner > div > a > .tema_info > h3{width:160px;font-size:17px;left:10px;}
    .tema_info > p{font-size:13px;left:10px;}
  }
  @media screen and (max-width:835px) {
    .tema_inner > div > a{width:160px;}
    .tema_inner > div > a > .tema_info > h3{left:3px;}
    .tema_info > p{left:3px;}
  }

  /* 다섯번째 레이아웃 서식 */
  .m_banner05{height:330px;}
  .event_list{margin-left:30px;}
  .notice_list{padding-right:30px;width:calc(100% - 437px);height:240px;}
  .notice_list > a{font-size:24px;}
  .notice_list > ul > li > a{font-size:16px;}

  /* top버튼 서식 */
  .top_btn_box{right:60px;}

  /* 푸터 서식 */
  .f_inner > h2{width:20%;}
  .f_inner > h2 img{padding-left:15%;}
  .f_inner > div:first-of-type{width:60%;}
  .f_inner > .sns_btn{width:20%;}
  .f_inner nav > ul{width:100%;font-size:0.8rem;}
  .f_inner nav > ul > li{padding-right:10%;}
  .c_info > ul{
    width:100%;font-size:0.8rem;
    grid-template-columns:repeat(3, auto);
    grid-template-rows:repeat(3, auto);
    grid-gap:10%;
  }
  .sns_btn > ul{
    width:100%;
    display:flex;
    justify-content:left;
  }
  .sns_btn > ul > li{width:45px;padding-right:3%;}
  .sns_btn > ul > li img{width:100%;}

  
}